name: deploy-book
on:
  push:
    branches: [main]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install jupyter-book
        run: pip install "jupyter-book==0.15.1"

      - name: Build
        run: |
          # Очистка и принудительная сборка
          jupyter-book build .

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_build/html

      - name: Deploy
        uses: actions/deploy-pages@v4
